#headers{
background:#46B4E3;
height: 10%;
font: Arial;
size: 30dp;
text-align: center;

}
#titulo{
color:white;
text-align: center;
vertical-align: middle;
line-height: 90px; 

}
#principal{
    text-align: center;
    margin: .5em .5em .5em .5em;
   
}  

form {
    display: inline-block;
    text-align: center;
    
}
#form_borders{
    text-align: center;   
}

form-group{
    background: #46B4E3;
}

